.card {
  @extend .background-principal-1;
  @extend .shadow-md;
  @extend .g--border-radius-1;
  padding: 16px;
  max-width: 300px;
  margin: 16px;

  &__image {
    width: 100%;
    height: auto;
    @extend .g--border-radius-4;
  }
  &__title {
    @extend .text-principal-6;
    @extend .g--font-family-title;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 12px;
  }
  &__content {
    @extend .text-grises-7;
    @extend .g--font-family-serif;
    font-size: 1rem;
    margin-top: 8px;
  }
}
  