:root {

    $sizesLength: length($sizes);

    @for $i from 1 through $sizesLength {
        --padding-#{$i}: nth(sizes, i);
        --margin-#{$i}: nth(sizes, i);
        --border-width-#{$i}: nth(sizes, i)
    }

    --font-size-xxs: nth(font-sizes, 1);
    --font-size-xs: nth(font-sizes, 2);
    --font-size-s: nth(font-sizes, 3);
    --font-size-m: nth(font-sizes, 4);
    --font-size-l: nth(font-sizes, 5);
    --font-size-xl: nth(font-sizes, 6);
    --font-size-xxl: nth(font-sizes, 7);

    @each $key, $value in $font-types {
        --font-#{$key}: #{$value};
    }

}


:root {
    $sizeBorderRadius: length($sizesBorderRadius);

    @for $i from 1 through $sizeBorderRadius {
        $valor : nth($sizesBorderRadius, $i);
        --border-radius-#{$i}: #{$valor};
    }
}

:root {
    @each $palette-name, $colors in $colores {
        $num-colors: length($colors);

        @for $i from 1 through $num-colors {
            $color: nth($colors, $i);
            --#{$palette-name}-#{$i}: #{$color};
        }
    }
}

:root {
    @each $name, $shadows in $box-shadows-advanced {
        $num-shadows-advance: length($shadows);

        @for $i from 1 through $num-shadows-advance {
            $shadow: nth($shadows, $i);
            --#{$name}-#{$i}: #{$shadow};
        }
    }
    @each $name, $shadows in $box-shadows {
        $num-shadows: length($shadows);

        @for $i from 1 through $num-shadows {
            $shadow: nth($shadows, $i);
            --#{$name}-#{$i}: #{$shadow};
        }
    }
}
