$sizes: (2px, 4px, 6px, 8px, 10px, 12px, 14px, 16px, 18px, 20px);

$sizesBorderRadius: (2px, 4px, 6px, 8px, 10px, 12px, 14px, 16px, 18px, 20px);

$colores: (
        "principal": (#e6f2ff, #cce6ff, #99ccff, #66b3ff, #3399ff, #007fff, #0066cc, #004c99),
        "alternativo": (#fff5e6, #ffe6cc, #ffcc99, #ffb366, #ff9933, #ff8000, #cc6600, #994c00),
        "grises": (#f2f2f2, #e6e6e6, #cccccc, #b3b3b3, #999999, #666666, #4c4c4c, #333333),
        "blancos": (#f9f9f9, #f5f5f5, #f0f0f0, #ebebeb, #e6e6e6, #e0e0e0, #dbdbdb, #d6d6d6),
        "rojos": (#ffe6e6, #ffcccc, #ff9999, #ff6666, #ff3333, #ff0000, #cc0000, #990000),
        "verdes": (#e6fff2, #ccffe6, #99ffcc, #66ffb3, #33ff99, #00ff80, #00cc66, #00994c),
        "azules": (#e6f0ff, #cce0ff, #99c2ff, #66a3ff, #3385ff, #0066ff, #0052cc, #003d99),
        "amarillos": (#fffbe6, #fff6cc, #ffee99, #ffe666, #ffdd33, #ffd400, #ccaa00, #997f00),
        "morado": (#f3e6ff, #e6ccff, #cc99ff, #b366ff, #9933ff, #8000ff, #6600cc, #4c0099),
        "naranja": (#ffe5cc, #ffcc99, #ffb366, #ff9933, #ff8000, #ff6000, #cc4d00, #993900),
        "moradopc": (#e6e0f2, #cdc1e5, #b3a3d8, #9a84ca, #8066bd, #6647b0, #4d388a, #332963, #170453),
);
