$sizes: (2px, 4px, 6px, 8px, 10px, 12px, 14px, 16px, 18px, 20px);
$height_percentages:(0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100%);
$height_pixels:(24px, 32px, 48px, 64px, 80px, 100px, 150px, 200px, 250px, 300px, 400px, 500px, 600px, 800px, 1000px);

