
$sizeBorderRadius:length($sizesBorderRadius);

@for $i from 1 through $sizeBorderRadius {
    $valor :nth($sizesBorderRadius, $i);
    .g--border-radius-#{$i} {   
        border-radius: var(--border-radius-#{$i}) 
    }
  }