@import '../01_utilities/sass-variables';

@each $palette-name, $colors in $colores {
  $num-colors: length($colors);
  @for $i from 1 through $num-colors {
    $color: nth($colors, $i);
    .bg-#{$palette-name}-#{$i} {
      background-color: #{$color};
    }
    .text-#{$palette-name}-#{$i} {
      color: #{$color};
    }
  }
}