.g--margin {

    @for $i from 1 through 20 {
        &-left-#{$i} {
            margin-left: 2px * $i;
        }

        &-right-#{$i} {
            margin-right: 2px * $i;
        }

        &-top-#{$i} {
            margin-top: 2px * $i;
        }

        &-bottom-#{$i} {
            margin-bottom: 2px * $i;
        }

        &-y-#{$i} {
            margin-top: 2px * $i;
            margin-bottom: 2px * $i;
        }

        &-x-#{$i} {
            margin-left: 2px * $i;
            margin-right: 2px * $i;
        }

        &-#{$i} {
            margin: 2px * $i;
        }
    }
}