.g--padding {

    @for $i from 1 through 20 {
        &__left-#{$i} {
            padding-left: 2px * $i;
        }

        &__right-#{$i} {
            padding-right: 2px * $i;
        }

        &__top-#{$i} {
            padding-top: 2px * $i;
        }

        &__bottom-#{$i} {
            padding-bottom: 2px * $i;
        }

        &-y-#{$i} {
            padding-top: 2px * $i;
            padding-bottom: 2px * $i;
        }

        &-x-#{$i} {
            padding-left: 2px * $i;
            padding-right: 2px * $i;
        }

        &-#{$i} {
            padding: 2px * $i;
        }
    }
}